@charset "UTF-8";
body {
	-webkit-backface-visibility: hidden;
	overflow-x: hidden;
}
.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}
.animated {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*========slideInDown========*/
@-webkit-keyframes slideInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes slideInDown {
 0% {
 opacity: 0;
 -moz-transform: translateY(-2000px);
}
 100% {
 -moz-transform: translateY(0);
}
}
 @-o-keyframes slideInDown {
 0% {
 opacity: 0;
 -o-transform: translateY(-2000px);
}
 100% {
 -o-transform: translateY(0);
}
}
 @keyframes slideInDown {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 100% {
 transform: translateY(0);
}
}
.slideInDown {
	-webkit-animation-name: slideInDown;
	-moz-animation-name: slideInDown;
	-o-animation-name: slideInDown;
	animation-name: slideInDown;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}
 @-webkit-keyframes slideInDown2 {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes slideInDown2 {
 0% {
 opacity: 0;
 -moz-transform: translateY(-2000px);
}
 100% {
 -moz-transform: translateY(0);
}
}
 @-o-keyframes slideInDown2 {
 0% {
 opacity: 0;
 -o-transform: translateY(-2000px);
}
 100% {
 -o-transform: translateY(0);
}
}
 @keyframes slideInDown2 {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 100% {
 transform: translateY(0);
}
}
.slideInDown2 {
	-webkit-animation-name: slideInDown;
	-moz-animation-name: slideInDown;
	-o-animation-name: slideInDown;
	animation-name: slideInDown;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}



/*=======slideInLeft=========*/
@-webkit-keyframes slideInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes slideInLeft {
 0% {
 opacity: 0;
 -moz-transform: translateX(-2000px);
}
 100% {
 -moz-transform: translateX(0);
}
}
 @-o-keyframes slideInLeft {
 0% {
 opacity: 0;
 -o-transform: translateX(-2000px);
}
 100% {
 -o-transform: translateX(0);
}
}
 @keyframes slideInLeft {
 0% {
 opacity: 0;
 transform: translateX(-2000px);
}
 100% {
 transform: translateX(0);
}
}
.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

/*======slideInRight==========*/
@-webkit-keyframes slideInRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes slideInRight {
 0% {
 opacity: 0;
 -moz-transform: translateX(2000px);
}
 100% {
 -moz-transform: translateX(0);
}
}
 @-o-keyframes slideInRight {
 0% {
 opacity: 0;
 -o-transform: translateX(2000px);
}
 100% {
 -o-transform: translateX(0);
}
}
 @keyframes slideInRight {
 0% {
 opacity: 0;
 transform: translateX(2000px);
}
 100% {
 transform: translateX(0);
}
}
.slideInRight {
	-webkit-animation-name: slideInRight;
	-moz-animation-name: slideInRight;
	-o-animation-name: slideInRight;
	animation-name: slideInRight;
}




/*=======fadeIn=========*/
@-webkit-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-moz-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-o-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	transition-delay: 0.3s;
}

/*=======fadeIn2=========*/
@-webkit-keyframes fadeIn2 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-moz-keyframes fadeIn2 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-o-keyframes fadeIn2 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes fadeIn2 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.animated.fadeIn2 {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	transition-delay: 1s;
}

/*=======fadeIn3=========*/
@-webkit-keyframes fadeIn3 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-moz-keyframes fadeIn3 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-o-keyframes fadeIn3 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes fadeIn3 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.animated.fadeIn3 {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	transition-delay: 2s;
}



/*=======fadeIn=========*/
@-webkit-keyframes fadeIn4 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-moz-keyframes fadeIn4 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-o-keyframes fadeIn4 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes fadeIn4 {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.animated.fadeIn4 {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	transition-delay: 2s;
}



/*=======fadeInUp=========*/
@-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(50px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes fadeInUp {
 0% {
 opacity: 0;
 -moz-transform: translateY(50px);
}
 100% {
 opacity: 1;
 -moz-transform: translateY(0);
}
}
 @-o-keyframes fadeInUp {
 0% {
 opacity: 0;
 -o-transform: translateY(50px);
}
 100% {
 opacity: 1;
 -o-transform: translateY(0);
}
}
 @keyframes fadeInUp {
 0% {
 opacity: 0;
 transform: translateY(50px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/*=======fadeInDown=========*/
@-webkit-keyframes fadeInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-50px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes fadeInDown {
 0% {
 opacity: 0;
 -moz-transform: translateY(-50px);
}
 100% {
 opacity: 1;
 -moz-transform: translateY(0);
}
}
 @-o-keyframes fadeInDown {
 0% {
 opacity: 0;
 -o-transform: translateY(-50px);
}
 100% {
 opacity: 1;
 -o-transform: translateY(0);
}
}
 @keyframes fadeInDown {
 0% {
 opacity: 0;
 transform: translateY(-50px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/*======fadeInLeft==========*/
@-webkit-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-50px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -moz-transform: translateX(-50px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
 @-o-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -o-transform: translateX(-50px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
 @keyframes fadeInLeft {
 0% {
 opacity: 0;
 transform: translateX(-50px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.animated.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

/*=======fadeInRight=========*/
@-webkit-keyframes fadeInRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(50px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes fadeInRight {
 0% {
 opacity: 0;
 -moz-transform: translateX(50px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
 @-o-keyframes fadeInRight {
 0% {
 opacity: 0;
 -o-transform: translateX(50px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
 @keyframes fadeInRight {
 0% {
 opacity: 0;
 transform: translateX(50px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.animated.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

/*=======fadeInUpBig=========*/
@-webkit-keyframes fadeInUpBig {
 0% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes fadeInUpBig {
 0% {
 opacity: 0;
 -moz-transform: translateY(2000px);
}
 100% {
 opacity: 1;
 -moz-transform: translateY(0);
}
}
 @-o-keyframes fadeInUpBig {
 0% {
 opacity: 0;
 -o-transform: translateY(2000px);
}
 100% {
 opacity: 1;
 -o-transform: translateY(0);
}
}
 @keyframes fadeInUpBig {
 0% {
 opacity: 0;
 transform: translateY(2000px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.animated.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}

/*=======fadeInDownBig=========*/
@-webkit-keyframes fadeInDownBig {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes fadeInDownBig {
 0% {
 opacity: 0;
 -moz-transform: translateY(-2000px);
}
 100% {
 opacity: 1;
 -moz-transform: translateY(0);
}
}
 @-o-keyframes fadeInDownBig {
 0% {
 opacity: 0;
 -o-transform: translateY(-2000px);
}
 100% {
 opacity: 1;
 -o-transform: translateY(0);
}
}
 @keyframes fadeInDownBig {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.animated.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}

/*======fadeInLeftBig==========*/
@-webkit-keyframes fadeInLeftBig {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes fadeInLeftBig {
 0% {
 opacity: 0;
 -moz-transform: translateX(-2000px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
@-o-keyframes fadeInLeftBig {
 0% {
 opacity: 0;
 -o-transform: translateX(-2000px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
@keyframes fadeInLeftBig {
 0% {
 opacity: 0;
 transform: translateX(-2000px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.animated.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}

/*======fadeInRightBig==========*/
@-webkit-keyframes fadeInRightBig {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes fadeInRightBig {
 0% {
 opacity: 0;
 -moz-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
 @-o-keyframes fadeInRightBig {
 0% {
 opacity: 0;
 -o-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
 @keyframes fadeInRightBig {
 0% {
 opacity: 0;
 transform: translateX(2000px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.animated.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}



/*=======rotateIn=========*/
@-webkit-keyframes rotateIn {
 0% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@-moz-keyframes rotateIn {
 0% {
 -moz-transform-origin: center center;
 -moz-transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 -moz-transform-origin: center center;
 -moz-transform: rotate(0);
 opacity: 1;
}
}
@-o-keyframes rotateIn {
 0% {
 -o-transform-origin: center center;
 -o-transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 -o-transform-origin: center center;
 -o-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rotateIn {
 0% {
 transform-origin: center center;
 transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 transform-origin: center center;
 transform: rotate(0);
 opacity: 1;
}
}
.animated.rotateIn {
	-webkit-animation-name: rotateIn;
	-moz-animation-name: rotateIn;
	-o-animation-name: rotateIn;
	animation-name: rotateIn;
}

/*=======rotateInUpLeft=========*/
@-webkit-keyframes rotateInUpLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
 @-moz-keyframes rotateInUpLeft {
 0% {
 -moz-transform-origin: left bottom;
 -moz-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -moz-transform-origin: left bottom;
 -moz-transform: rotate(0);
 opacity: 1;
}
}
 @-o-keyframes rotateInUpLeft {
 0% {
 -o-transform-origin: left bottom;
 -o-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -o-transform-origin: left bottom;
 -o-transform: rotate(0);
 opacity: 1;
}
}
 @keyframes rotateInUpLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate(90deg);
 opacity: 0;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.animated.rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	-moz-animation-name: rotateInUpLeft;
	-o-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}

/*======rotateInDownLeft==========*/
@-webkit-keyframes rotateInDownLeft {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
 @-moz-keyframes rotateInDownLeft {
 0% {
 -moz-transform-origin: left bottom;
 -moz-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -moz-transform-origin: left bottom;
 -moz-transform: rotate(0);
 opacity: 1;
}
}
 @-o-keyframes rotateInDownLeft {
 0% {
 -o-transform-origin: left bottom;
 -o-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -o-transform-origin: left bottom;
 -o-transform: rotate(0);
 opacity: 1;
}
}
 @keyframes rotateInDownLeft {
 0% {
 transform-origin: left bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.animated.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	-moz-animation-name: rotateInDownLeft;
	-o-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}

/*=========rotateInUpRight=======*/
@-webkit-keyframes rotateInUpRight {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
 @-moz-keyframes rotateInUpRight {
 0% {
 -moz-transform-origin: right bottom;
 -moz-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -moz-transform-origin: right bottom;
 -moz-transform: rotate(0);
 opacity: 1;
}
}
 @-o-keyframes rotateInUpRight {
 0% {
 -o-transform-origin: right bottom;
 -o-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -o-transform-origin: right bottom;
 -o-transform: rotate(0);
 opacity: 1;
}
}
 @keyframes rotateInUpRight {
 0% {
 transform-origin: right bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.animated.rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	-moz-animation-name: rotateInUpRight;
	-o-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
}

/*=======rotateInDownRight=========*/
@-webkit-keyframes rotateInDownRight {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
 @-moz-keyframes rotateInDownRight {
 0% {
 -moz-transform-origin: right bottom;
 -moz-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -moz-transform-origin: right bottom;
 -moz-transform: rotate(0);
 opacity: 1;
}
}
 @-o-keyframes rotateInDownRight {
 0% {
 -o-transform-origin: right bottom;
 -o-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -o-transform-origin: right bottom;
 -o-transform: rotate(0);
 opacity: 1;
}
}
 @keyframes rotateInDownRight {
 0% {
 transform-origin: right bottom;
 transform: rotate(90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.animated.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	-moz-animation-name: rotateInDownRight;
	-o-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
}
